.card {
    display: inline-block;
    width: 30%;
    margin: 25px;
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #bfcdd9;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card h2 {
    padding-bottom: 5px;
    color: #161616;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
    }
}